<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "admin/html-invoice.css" , :media => "all" %>
<title><%= I18n.t("#{params[:template]}.header") %></title>
</head>

<body>
  <div class="a4">
    <div class="header">
    </div>
    <div class="address">
      <%= render :partial => "address" %>
    </div>
    <div class="wrapper">
      <div class="header">
        <%= render :partial => "header" %>
      </div>
      <div class="line_items">
        <%= render :partial => "line_items" %>
      </div>
      <div class="spacer"> &nbsp;
      </div>
      <div class="totals">
        <%= render :partial => "totals" %>
      </div>
      <div class="thanks">
        <%= render :partial => "thanks" %>
      </div>
    </div>
  </div>
</body>
</html>

